/bin
/.metadata
bin/game/
/bin/

\.metadata/\.plugins/org\.eclipse\.core\.runtime/\.settings/

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/RemoteSystemsTempFiles/\.indexes/

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.root/\.indexes/

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ui/remote-index/

\.metadata/\.plugins/org\.eclipse\.ui\.workbench/

\.metadata/\.plugins/org\.eclipse\.jdt\.core/

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ui/history/

\.metadata/\.plugins/org\.eclipse\.oomph\.setup\.ui/

\.metadata/\.plugins/org\.eclipse\.oomph\.setup/

\.metadata/\.plugins/org\.eclipse\.rse\.core/initializerMarks/

\.metadata/\.plugins/org\.eclipse\.jdt\.ui/

\.metadata/\.plugins/org\.eclipse\.epp\.logging\.aeri\.ui/

\.metadata/\.plugins/org\.eclipse\.rse\.core/profiles/PRF\.idea-pc_3/FP\.local\.files_0/

\.metadata/\.plugins/org\.eclipse\.rse\.core/profiles/PRF\.idea-pc_3/

\.metadata/\.plugins/org\.eclipse\.m2e\.logback\.configuration/

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.root/

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.safetable/

\.metadata/\.plugins/org\.eclipse\.cdt\.make\.core/

\.metadata/\.plugins/org\.eclipse\.core\.resources/\.projects/RemoteSystemsTempFiles/org\.eclipse\.egit\.core/

\.metadata/
